@import url(https://fonts.googleapis.com/css?family=Bungee);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);

:root {
    --main-color: rgb(50, 221, 35);
    --sub-color: rgb(249, 57, 105);
    --main-accent-color: rgb(90, 255, 75);
    --sub-accent-color: rgb(255, 151, 151);
    --widecard-color: rgb(255, 171, 15);
    --border-color: rgb(42, 42, 42);
    --shadow-color: rgb(34, 34, 34);
    --default-color: rgb(54, 54, 54);
    --gaps: 3vw;
}

html,
body,
#shell,
.bar {
  margin: 0;
  padding: 0;
}

body {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.bar {
    height: 0%;
    width: 0%;
}

#shell {
    height: 100%;
    width: 100%;
    padding: var(--gaps);
}

#calculator {
    display: grid;
    grid-template-rows: 1fr auto 2fr;
    grid-template-areas: "screenBorder"
                        "memoryKeys"
                        "keys";
    gap: var(--gaps);
    height: 100%;
    width: 100%;
    font-family: 'Bungee', serif;
}

#screenBorder {
    display: grid;
    background-color: var(--border-color);
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 23%);
    border-radius: 2vw;
}

#screen {
    display: grid;
    place-self: center;
    grid-template-rows: 8fr 8fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "operationBox"
                        "entryBox"
                        "mainColorBand"
                        "subColorBand";
    height: 95%;
    width: 97%;
    background-color: white;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 23%);
    color: var(--default-color);
}

#operation, #memory, #entry {
    margin-left: 1vw;
    margin-right: 1vw;
}

#operationBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-left: 15%;
}

#operation {
    text-align: right;
}

#subOperationBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-left: 15%;
}

#memoryBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 0;
}

#memory {
    font-size: 0;
}


#entryBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

#entry {
    word-break: break-all;
    word-wrap: break-word;
    text-align: right;
}

#mainColorBand, #subColorBand {
    height: 100%;
    width: 100%;
}

#mainColorBand {
    background-color: var(--main-accent-color);
}

#subColorBand {
    background-color: var(--sub-accent-color);
}

#zero {
    grid-column-end: span 2;
}

#memoryKeys {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: 1fr;
    gap: 1vw;
    padding-right: 0.5vw;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: var(--gaps);
    width: 100%;
    padding-right: 1vw;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    border: solid var(--border-color) 1vw;
    border-radius: 2vw;
    box-shadow: 1vw 1vw var(--shadow-color);
    font-family: 'Bungee', serif;
    color: var(--default-color);
}

.key:active {
    box-shadow: 0.1vw 0.1vw;
    position: relative;
    bottom: -0.9vw;
    right: -0.9vw;
}

.memory {
    font-size: 7vw;
    color: var(--sub-color);
    border: solid var(--border-color) 1vw;
    border-radius: 2vw;
    box-shadow: 0.5vw 0.5vw var(--shadow-color);
}

.memory:active {
    box-shadow: 0.1vw 0.1vw;
    position: relative;
    bottom: -0.4vw;
    right: -0.4vw;
}

.material-symbols-outlined {
    font-size: 10vw !important;
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 12
}


.key.operator {
    color: var(--main-color);
}

.key.function {
    color: var(--main-color);
}

.key.modifier, #negate {
    color: var(--widecard-color);
}

#dot {
    color: var(--default-color);
}

.key:hover {
    border-color: var(--sub-color);
}

.key.operator:hover {
    border-color: var(--main-color);
}

.key.modifier:hover {
    border-color: var(--widecard-color);
}

#negate:hover {
    border-color: var(--widecard-color);
}

.key.function:hover {
    border-color: var(--main-color);
}

.memory:hover {
    border-color: var(--sub-color);
}

/* wide screens */
@media (min-width: 650px) {
    body {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    #shell {
        height: 95vh;
        border: gray solid 0.3vw;
        border-radius: 5vh;
        outline: rgb(61, 61, 61) solid 0.6vw;
        padding: 3.2vh 0.05vh 3.2vh 0.05vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bar {
        background-color: black;
        height: 0.5vh;
        width: 12vw;
        border-radius: 2vw;
        border: 0.1vw solid black;
    }

    #calculator {
        aspect-ratio: 0.5;
        height: 100%;
        width: auto;
        gap: 1vh;
        padding: 2vh 0.75vh 2vh 0.75vh;
    }

    #screenBorder {
        border-radius: 0.5vw;
    }

    #screen {
        height: 94%;
        width: 97%;
    }

    #operation, #memory, #entry {
        margin-right: 0.5vw;
    }

    #operation {
        font-size: 1.5rem;
    }

    #memoryKeys {
        gap: 0.8vw;
        padding-right: 0.3vw;
    }

    #keys {
        gap: 1vh;
        padding-right: 0.4vw;
    }

    .key {
        font-size: 2rem;
        border: solid var(--border-color) 0.5vh;
        border-radius: 0.8vw;
        box-shadow: 0.4vh 0.4vh var(--shadow-color);
    }

    .key:active {
        box-shadow: 0.05vw 0.05vw;
        position: relative;
        bottom: -0.35vh;
        right: -0.35vh;
    }

    .memory {
        font-size: 1.8rem;
        border-radius: 0.8vw;
        box-shadow: 0.3vw 0.3vw var(--shadow-color);;
    }

    .memory:active {
        box-shadow: 0.05vw 0.05vw;
        position: relative;
        bottom: -0.25vw;
        right: -0.25vw;
    }

    .material-symbols-outlined {
        font-size: 2.4rem !important;
    }
}
