:root {
    --main-border-color: lightgreen;
    --sub-border-color: lightcoral;
}

body {
    margin: 0 2rem;
}

button {
    cursor: pointer;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#screen {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    font-size: 4rem;
    height: 25vh;
    margin: 0 2rem;
    
}

#operation {
    grid-column-end: span 4;
    justify-self: end;
}

#memory {
    grid-column-end: span 4;
    justify-self: start;
}

#entry {
    grid-column-end: span 4;
    grid-row-end: span 2;
    justify-self: end;
    align-self: end;
    font-size: 7.5rem;
}

#memoryKeys {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: find-content;
    gap: 0.5rem;
    margin: 1.2rem 0.5rem 3rem;
}

.memoryKey {
    font-size: 3rem;
    border: solid black 0.3rem;
    border-radius: 0.7rem;
    box-shadow: 0.2rem 0.2rem;
}

.memoryKey:hover {
    border-color: var(--main-border-color);
}

.memoryKey:active {
    box-shadow: 0.1rem 0.1rem;
    position: relative;
    bottom: -0.1rem;
    right: -0.1rem;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1.5rem;
    height: 65vh;
    margin: 0rem 0.5rem;
}

.key {
    font-size: 3rem;
    border: solid black 0.3rem;
    border-radius: 1rem;
    box-shadow: 0.4rem 0.4rem;
}

.key:hover {
    border-color: var(--sub-border-color);
}

.key:active {
    box-shadow: 0.1rem 0.1rem;
    position: relative;
    bottom: -0.3rem;
    right: -0.3rem;
}

#zero {
    grid-column-end: span 2;
}
